
.content-margin{
    margin: 1rem 5rem;
}
.immuno{
    background: linear-gradient(170deg, #F5758F, #FFCCD4, #FFEBF0,#FFABC1,#F77E99);
    display: flex;
    flex-direction: row;
    gap: 1rem;
    min-height: 100vh;
}
.section-column{
    display: flex;
    flex-direction: column;
}
.immuno-text{
    width: 90%;
    cursor: default;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: baseline;
   gap: 0.4rem;
    margin: 2rem 2rem 4rem 5rem;

}
.content__elem{
    display: flex;
    flex-direction: column;
   width: 90%;
   margin-bottom: 3rem;
     align-items: center;
    img{
        max-width: 5.5rem;
        margin-bottom: 0.7rem;
        transition: 0.2s;
        cursor: pointer;
        &:hover{
            transform: scale(1.02);
        }
    }
    p{
        cursor: default;
    }
}
.btl-show{
    display: none;
}
.content__img{
  text-align: center;
  margin-bottom: 3rem;
    img{
        cursor: pointer;
   max-width: 65%;
    transition: 0.3s;
    &:hover{
        transform: scale(1.04);
    }
}
}

@media screen and (max-width: $tablet-width){
    .content-margin{
        margin: 1rem 2rem;
    }
    .content{
       // grid-template-columns: 1fr 1fr;
        font-size: 13px;
        width: 90%;
        gap: 0.5rem 1.5rem;
        margin: 3rem 0rem 5rem 2rem;
        padding-bottom: 15rem;
        justify-items: center;
    }
    .content__img{
        img{
         
       max-width: 90%;
    }
    }
    .content__elem{
        margin-bottom: 0;
       width: 100%;
        img{
            max-width: 4.5rem;
            align-self: center;
            margin-bottom: 0.7rem;
        }
    }
}
@media screen and (max-width: $mobile-width) {
    .immuno{
        display: flex;
        flex-direction: column;
    }
    .content{
        font-size: 12px;
       // grid-template-columns: 1fr 1fr;
        //grid-template-rows: 1fr 1fr 1fr;
        padding: 0;
        margin: 2rem auto  0 auto;
        justify-items: center;
        width: 95%;
    }
    .content__img{
        display: none;
    }
    .btl-show{
        display: block;
      margin: 0;
      padding: 0;
        img{
            max-width: 100%;
        }
    }
    .content-margin {
       margin: 1rem auto;
       text-align: center;
    }
    .text-padding{
        padding: 0 1rem;
    }
   
     .mob-section-boxtitle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     .immuno-text{
width: 100%;

     }
}
