
.content-margin{
    margin: 1rem 5rem;
}
.immuno{
    background: linear-gradient(170deg, #F5758F, #FFCCD4, #FFEBF0,#FFABC1,#F77E99);
    display: flex;
    flex-direction: row;
    height: 100%;
    gap: 1rem;
}
.immuno-text{
    width: 90%;
    cursor: default;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
   // gap: 1.5rem;
    margin: 2rem 2rem 5rem 5rem;
    justify-items: center;
}
.content__elem{
    display: flex;
    flex-direction: column;
   width: 90%;
     align-items: center;
     
    img{
        max-width: 5.5rem;
        margin-bottom: 0.7rem;
        transition: 0.2s;
        cursor: pointer;
        &:hover{
            transform: scale(1.02);
        }
    }
    p{
        cursor: default;
    }
}
.content__img{
  text-align: center;
  margin-bottom: 3rem;
    img{
        cursor: pointer;
   max-width: 70%;
    transition: 0.5s;
    &:hover{
        transform: scale(1.02);
    }
}
}
@media screen and (max-width: $tablet-width){
    .content-margin{
        margin: 1rem 2rem;
    }
    .content{
        font-size: 13px;
        width: 90%;
        align-items: baseline;
        gap: 1rem;
        margin: 3rem 0rem 7rem 2rem;
        justify-items: center;
    }
    .content__img{
        width: 50%;
        margin-bottom: 2rem;
        img{
       max-width: 100%;
    }
    }
    .content__elem{
       width: 100%;
        img{
            max-width: 4rem;
            align-self: center;
            margin-bottom: 0.7rem;
        }
    }
}
@media screen and (max-width: $mobile-width) {
    .content__img{
display: none;
    }
    .content{
        margin: 2rem auto 7rem auto;
        justify-items: center;
        width: 90%;
    }
    .content-margin {
       margin: 1rem auto;
       text-align: center;
    }
    .text-padding{
        padding: 0 1rem;
    }
    .content__elem{
         img{
             max-width: 4rem;
             margin-bottom: 1rem;
         }
     }
     .mob-section-boxtitle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
     }
     .immuno-text{
width: 100%;
     }
}
