.main-box{
    //background: no-repeat center/80% url('../../img/water-ani.mp4');
    text-align: center;
    overflow: hidden;
  position: relative;
    min-height: 100vh;
    transition: 0.5s;
    h1{
        text-transform: uppercase;
        margin: 4rem auto 0 auto;
       cursor: default;
    }
}
//video
.page {
    position: relative;
  }
   
  .page-video {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
   
  .page-video .video {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
  }
   
  .content-video {
    position: relative;
    z-index: 2;
  }



.main-box__title{
    font-family: 'stagsans-thin', sans-serif;
    font-size: 26px;
    color: #000000;
}
.main-box__subtitle{
    font-family: 'stagsans', sans-serif;
    font-size: 44px;
    color: #000000;
}
.main-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-bottom: 2.5rem;
}

#active-buttle{
    max-width:15.3rem;
}

.main-content__elem{
    cursor: pointer;
    animation: animate_grow 2s ease-in-out;
 max-width:13rem;
 transition: 0.3s;
&:hover{
    transform: scale(1.05);
}
}
@keyframes animate_grow {
	0% {
		transform: scale3d(1, 1, 1);
	}
	50% {
		transform: scale3d(1.05, 1.05, 1.05);
	}
	100% {
		transform: scale3d(1, 1, 1);
	}
}

@media screen and (max-width: $tablet-width){
    .main-box__title{
        font-size: 36px;
    }
    .main-box__subtitle{
        font-size: 30px;
        font-weight: 500;
    }
    .main-box{

        text-align: center;
        h1{
            margin: 1.5rem auto 0 auto;
        }
    }
    .main-content{
        gap: 0;
        margin: 7rem auto 4rem auto;
    }
    .main-content__elem{
        animation: animate_grow 2.5s infinite;
     max-width:30%;
    }
    #active-buttle{
        max-width:35.8%;
    }
}
@media screen and (max-width: $mobile-width){
    .main-box__title{
        font-size: 24px;
    }
    .main-box__subtitle{
        font-size: 20px;
        font-weight: 500;
    }
    .main-box{
         h1{
             margin: 4rem auto 2rem auto;
         }
     }
     .main-content{
        margin: 7rem auto;
        padding-bottom: 0;
    }
    .main-content__elem{
        max-width:31%;
       }
       #active-buttle{
        max-width:36%;
    }
}

