.main-box{
    background: no-repeat center/80% url('../../img/water2.png');
    text-align: center;
    height: 100%;
    transition: 0.5s;
    h1{
        text-transform: uppercase;
        margin: 0 auto 2rem auto;
       cursor: default;
    }
}
.main-box__title{
    font-family: 'stagsans-thin', sans-serif;
    font-size: 30px;
 
    color: #000000;
}
.main-box__subtitle{
    font-family: 'stagsans', sans-serif;
    font-size: 52px;
   
    color: #000000;
}
.main-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding-bottom: 2.5rem;
}
#mint{
    max-width: 11%;
    padding-top: 0;
}
.main-content__elem{
    cursor: pointer;
    padding-top: 3rem;
 max-width: 10%;
 transition: 0.5s;
&:hover{
    transform: scale(1.03);
}
}

@media screen and (max-width: $tablet-width){
    .main-box__title{
        font-size: 36px;
    }
    .main-box__subtitle{
        font-size: 22px;
        font-weight: 500;
    }
    .main-box{
        //background: no-repeat center/95% url('../../img/water2.png');
        text-align: center;
    }
    .main-content__elem{
     max-width: 14.5%;
    }
    #mint{
        max-width: 16%;
    }
}

