
.about{
    display: flex;
    flex-direction: column;
    background-color: #0c73a7d1;
    color: white;
    border-radius: 14px;
    padding: 2rem 4rem;
    width: 80%;
    height: 100%;
    transition: 0.4s;
    margin: auto;
    text-align: left;
    &:hover{
        background-color: #0C73A7;
    }
    p{
        margin-top: 1rem;
    }
}
.about__imgs{
   text-align: center;
    width: 50%;
}
.about__imgs_item{
        max-width: 25%;
        cursor: pointer;
     transition: 0.5s;
    &:hover{
        transform: scale(1.03);
    }
}

.modal-title{
    font-family: 'stagsans', sans-serif;
    text-transform: uppercase;
    font-size: 34px;
text-align:left;
padding-top: 2rem ;
padding-bottom: 1rem;
padding-left: 5rem;
padding-right: auto;
    cursor: default;
  }

  @media screen and (max-width: $tablet-width){
    .about{
        padding: 1rem 2rem;
  }
  
.modal-title{
    font-size: 28px;
}
  }
  @media screen and (max-width: $mobile-width){
    .mob-none{
        display: none;
    }
    .about{
        padding: 1.5rem ;
    width: 90%;
    }
    .modal-title{
        padding-left: 2rem;
        font-size: 24px;
    }
  }
