
  @font-face {
    font-family: "harmonia-regular";
    src: url(../../fonts/HarmoniaSansProCyr-Regular.woff2) format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "harmonia-semi";
    src: url(../../fonts/HarmoniaSansProCyr-SemiBd.woff2) format("woff2");
    font-weight: 250;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "stagsans-medium";
    src: url(../../fonts/StagSans-Medium.woff2) format("woff2");
    font-weight: 250;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "stagsans";
    src: url(../../fonts/StagSans-SemiBold.woff2) format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: "stagsans-thin";
    src: url(../../fonts/StagSans-Thin.woff2) format("woff2");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
  }