//colors

$gray: #1f1f1f;
$dark: #131313;
$lightGray: #e5e5e5;
$darkGray: #d7d6d6;
$purple: #8350f6;
$green: #07f2b4;
$pink: #cd0056;

// Viewports

$mobile-width: 480px;
$tablet-width: 810px;
$desktop-width: 1024px;
