.header{
    width: 90%;
    position: fixed;
    top: 0;
    left:5%;
    right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 500;
   align-items: center;
 padding: 1rem 0 0.5rem 0;
  margin: auto;
}
.header__nav{
  position: fixed;
  left: 66%;
  right: 5%;
  top: 2%;
}
.header__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    li{
        margin: 0 0.8rem;
        transition: 0.1s;
    }
    a{
        cursor: pointer;
        font-weight: 600;
    font-size: 14px;
    color: rgb(0, 0, 0);
    &:hover{
        color: #0C73A7;  
         }
    }
}
.header__logo{
  display: block;
    cursor:default;
    img{
        max-width: 7rem;
        cursor: pointer;
    }
}
.header__contacts{
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    padding: 0.5rem 2rem;
 border: 1.7px solid #0C73A7;
 transition: 0.4s;
 &:hover{
   background-color: #0c73a741;
 }
   a{
    font-size: 14px;
    font-weight: 600;
    color: #0C73A7;
    &:hover{
       color: #ffffff;
     }
   }
}


@keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
  
    50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translatey(-20px);
    }
  
    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
  }
  
  .messageAnimation {
    display: none;
    position: fixed;
    bottom: 7rem;
    right: 5rem;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    z-index: 99;
    border: none;
    outline: none;
    background-image: url("../../img/up.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    opacity: 60%;
    background-color:  #0C73A7;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 3s ease-in-out infinite;
  }
  .section-btn{
    display: block;
    position: fixed;
    background-image: url("../../img/back-arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 45%;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
   top: 1.4rem;
    left: 5rem;
    z-index: 99;
    border: none;
    outline: none;
    opacity: 100%;
    color: white;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 3s ease-in-out infinite;
  }
  @media screen and (max-width: $tablet-width){
    .header{
      padding: 1.5rem 0 2rem 0;
      position: static;
      width: 96%;
    }
    .header__nav{
      position: static;
    }
    .section-btn{
      left: 2rem;
    }
  }
  @media screen and (max-width: $mobile-width) {
    .header{
        display: none;
    }
    .section-btn{
      background-size: 40%;
      width: 2rem;
      height: 2rem;
    }
    .messageAnimation {
      width: 2rem;
      height: 2rem;
      right: 2rem;
      bottom: 13rem;
    }
    .header__contacts{
      width: 85%;
      margin: auto;
      padding: 0.5rem;
      text-align: center;
      //border: 1.7px solid #ffffff;
      background-color: #0C73A7;
      a{
        padding-top: 0.4rem;
        font-size: 12px;
        font-weight: 600;
        color: #ffffff;
      }
    }
}
