.header{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   align-items: center;
  padding: 1.5rem 0 2rem 0;
  margin: auto;
}
.header__item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    li{
        margin: 0 0.8rem;
        transition: 0.1s;
    }
    a{
        cursor: pointer;
        font-weight: 600;
    font-size: 14px;
    color: rgb(0, 0, 0);
    &:hover{
        color: #0C73A7;  
         }
    }
}
.header__logo{
    cursor:default;
    img{
        max-width: 6rem;
        cursor: pointer;
    }
}
.header__contacts{
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    padding: 0.5rem 2rem;
 border: 1.7px solid #0C73A7;
 transition: 0.4s;
 &:hover{
    background-color: #0c73a76c;
 }
   a{
    font-size: 14px;
    font-weight: 600;
    color: #0C73A7; 
    &:hover{
       color: white;
     }
   }
}


@keyframes float {
    0% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
  
    50% {
      box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
      transform: translatey(-20px);
    }
  
    100% {
      box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
      transform: translatey(0px);
    }
  }
  
  .messageAnimation {
    display: none;
    position: fixed;
    bottom: 7rem;
    right: 5rem;
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    z-index: 99;
    border: none;
    outline: none;
    background-image: url("../../img/up.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    opacity: 60%;
    background-color:  #0C73A7;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
    animation: float 3s ease-in-out infinite;
  }
  
  @media screen and (max-width: $tablet-width){
    .header{
        width: 90%;
    }
  }