
.brand{
    display: flex;
    font-size: 16px;
    flex-direction: column;
    border-radius: 20px;
   background-color:  #0c73a7c5;
    color: white;
    padding: 2rem;
    width: 50%;
    transition: 0.4s;
    margin:2rem 0 0 3rem;
    p{
        margin-top: 1rem;
    }
  
}
.brand-content{
    //background:no-repeat  url("../../img/pomelo33.png");
    //background-size: 50%;
    //background-position: 100% 100%;
    padding-bottom: 15rem;
}

.brand__text_bold{
    font-weight: 700;
}
.brand__btn{
    align-self: flex-end;
    margin:2rem 0 0 0 ;
    width: 9rem;
    text-transform: uppercase;
    color: white;
    background-color: #0C73A7;
    font-family: inherit;
    cursor: pointer;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    padding: 1rem ;
    text-transform: uppercase;
    border-radius: 60px;
    text-decoration: none;
    border: 2px solid #0C73A7;
    transition: background-color 0.3s linear;
    cursor: pointer;
    &:hover {
        color: black;
      background-color: #8ec1db;
    }
}
@media screen and (max-width: $tablet-width){
    .brand{
        width: 82%;
        padding: 1rem 2rem;
        transition: 0.4s;
        margin:3rem auto;
        p{
            margin-top: 1rem;
        }
      
    }
    .brand-content{
        padding-bottom: 14rem;
    }
}
@media screen and (max-width: $mobile-width){
    .brand{
        width: 90%;
    padding: 2rem;
    margin: 1.5rem auto;
    }
    .brand-content{
        padding-bottom: 6rem;
    }
}
