
.pluses-box{
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    gap: 1.5rem;
    cursor: default;
    width: 85%;

}
.pluses-box__img{
    max-width: 4.5rem;
    transition: 0.2s;
    cursor: pointer;
    &:hover{
        transform: scale(1.02);
    }
}
.pluses-box__item{
    display: flex;
    flex-direction: row;
    align-items: center;
   text-align: left;
    gap: 0.8rem;
    padding: 1rem;
}
@media screen and (max-width: $tablet-width){
    .pluses-box__img{
        max-width: 3.5rem;
    }
    .pluses-box{
        width: 90%;
  }
}
@media screen and (max-width: $mobile-width){
    .pluses-box__img{
        max-width: 2rem;
    }
    .pluses-box{
        margin: 1rem auto ;
        gap: 0;
        width: 100%;
  }
  .pluses-box__item{
    align-items: center;
    gap: 0.2rem;
    padding: 0.7rem;
}
}
  
