
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #ffffff;
    z-index: 2001;
  }

  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }

  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #0C73A7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }

  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }

  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes preloader-bounce {

    0%,
    100% {
      transform: scale(0);
    }

    50% {
      transform: scale(1);
    }
  }
  .animationMain {
    display: none;
    transform: translateX(-150%);
    animation: ani 1.5s forwards;
  }
  .animationButtle {
    display: none;
    transform: translateX(-150%);
    animation: ani3 1.5s forwards;
  }
  .animation {
    display: none;
    transform: translateX(-50%);
    animation: ani2 1.5s forwards;
  }
  
  @keyframes ani {
    0% {
      transform: translateY(-150%);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  
  
  @keyframes ani2 {
    0% {
      transform: translateY(-30%);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  @keyframes ani3 {
    0% {
      transform: translateY(-50%);
    }
  
    100% {
      transform: translateY(0);
    }
  }