
.footer{
   display: flex;
   flex-direction: row;
 justify-content: space-around;
 align-items: baseline;
  margin: 3rem 0;
  gap: 2rem;
    h2{
        font-family: 'stagsans', sans-serif;
        text-transform: uppercase;
        font-size: 24px;
        cursor: default;
        transition: 0.4s;
        padding-bottom: 2.8rem;
    }
}
.contacts{
    display: flex;
    width: 20rem;
    flex-direction: column;
    align-items: start;

    text-align: end;
    a{
        margin-top: 0.1rem;
        font-weight: 600;
        &:hover{
            color: #0C73A7;  
             }
    }
}
.logos{
    h2{
        padding-top: 1rem;
    }
    img{
    max-width: 10rem;
    }
}
.logos-content{
    display: flex;
    flex-direction: row wrap;
    gap: 1rem;
    align-items: center;
}
@media screen and (max-width: $tablet-width){
    .logos-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        h2{
            padding-top: 0;
        }
        img{
            max-width: 6rem; 
        }
    }
    .contacts{
        margin-left: 3rem;
        text-align: start;
    }
    .footer{
        justify-content: center;
        h2{
            font-size: 20px;
        }
    }
    .logos-content{
        margin-right: 3rem;
    }
}
@media screen and (max-width: $mobile-width){

  .footer{
 justify-content: space-between;
  }
  .logos-content{
    margin-right: 0.5rem;
    img{
        max-width: 4.5rem; 
    }
}
.contacts{
    margin-left: 0.5rem;
    text-align: start;
}
}
